@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary-100: #d7bbff;
  --color-primary-200: #b988ff;
  --color-primary-300: #9b55ff;
  --color-primary-400: #7d22ff;
  --color-primary-500: #6200ee;
  --color-primary-600: #4d00bb;
  --color-primary-700: #380088;
  --color-primary-800: #230055;
  --color-primary-900: #0e0022;
}

body {
  background-color: #f5f5f5;
}
